<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="APIKey" value="" />
      <add key="ClientID" value="" />
      <add key="LastSevenDays" value="true" />
      <add key="FTPUser" value="" />
      <add key="FTPPassword" value="" />
      <add key="CNPJ" value="" />
    </appSettings>
</configuration>